{% load static %}
<h1>{{ question.question_text }}</h1>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">

   {# FLAW 1: CSRF token removed from POST form #}
   {# FIX: Add CSRF token inside the form #}
   {# {% csrf_token %} #}

    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />

    {# FLAW 3: User-controlled choice text is rendered as trusted HTML #}
    {# FIX: Remove safe filter so scripts are shown as text instead of executed #}
    {# <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /> #}
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text|safe }}</label><br />

{% endfor %}
    <input type="submit" value="Vote" />
</form>
<form action="{% url 'polls:index' %}">
    <input type="submit" value="Return to polls" />
</form>


